.singlePictureInstruction {
    display: block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: black;
    opacity: 0.85;
}

.instruction {
    display: block;
    position: absolute;
    top: calc(90px + 20%);
    left: 30%;
    width: 40%;
    height: 20%;
    background-color: #fde3a7;
    text-align: center;
    font-size: 20px;
    opacity: 1;
    transition: 0.5s ease-in;
}

.singlePicture {
    width: 100%;
    height: 100%;
    background-color:  #fde3a7;
    display: none;
    flex-direction: column;
}

.singlePictureBackBtn {
    top: 80px;
    left: 80px;
    height: 50px;
    width: 50px;
    background-color: #c68642;
    border-radius: 50%;
    position: absolute;
}

.singlePictureBackBtn:hover {
    opacity: 0.5;
    cursor: pointer;
}

.BackBtnTriangle {
    position: relative;
    top: 12.5px;
    left: 10px;
    width: 0; 
    height: 0; 
    border-top: 12.5px solid transparent;
    border-bottom: 12.5px solid transparent; 
    border-right: 12.5px solid  #fde3a7; 
}

.BackBtnBar {
    position: relative;
    background-color:  #fde3a7;
    height: 7.5px;
    width: 12.5px;
    top: -3.5px;
    left: 22px;
}

.singlePictureFrame {
    margin-left: calc(20% - 10px);
    margin-top: 80px;
    width: 60%;
    height: 60%;
    border: 10px inset #dd9700;
    outline: 10px outset #dd9700;
}

.singlePictureDescription {
    margin-top: 50px;
    margin-left: calc(50% - 101px);
    width: 200px;
    height: 10%;
    background-color: #f7d1a8;
    box-shadow: 2px 2px 2px;
    text-align: center;
    font-size: 15px;
}

canvas {
    width: 100%;
    height: 100%;
    background-color: #f7d1a8;
}


@media (max-width: 480px ) {
    .instruction {
        font-size: 12px;
        top: calc(90px + 25%);
        left: 25.5%;
        width: 49%;
        height: 15%;
    }
}